.categories_item {
  border: none;
  background-color: rgb(239, 239, 240);
  cursor: pointer;
  font-size: inherit;
  font-weight: 700;
  margin: 2px;
  padding: 12px;
}
.categories_item:hover {
  background-color: #a4a4d3;
  border: solid 5px #e5dcdf;
  transition: border-width 0.6s linear;
}

.category_active {
  background-color: #9f9fa0;
}
